* {
    background-color: #fcd1c0;
}

#wrapper {  
    padding: 40px;
    padding-left: 350px;
    height: 100%;
  }

  #add-todo, #todo-list, .todo-item, label, #deleteTodo {
    padding: 10px;
  }

  #todoText, .todo {
    width:400px;  
  }

  #text-area {
    padding: 10px;
    width: 310px;
    height: 160px;
    resize: none;
  }

  button {
    background-color: grey;
    padding: 3px;
  }

  button:hover {
    background: #c5d1a3;
  }

  .checkbox:checked + .todo-text {
    text-decoration: line-through;
    background: #c38181;
  }

  .edit-item {
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
  }



